* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 10px;
  font-family: "Roboto", "Arial", sans-serif;

  border: 0;
}

body {
  width: 830px;
  margin: auto;
  overflow: scroll;
}

textarea {
  display: block;
  width: calc(100% - 100px);
  height: 150px;
  margin: 20px auto;
  padding: 20px;

  font-size: 1.6rem;

  border: 2px solid grey;

  resize: none;
}

.keyboard {
  display: block;
  width: calc(100% - 100px);
  margin: 20px auto;
  padding: 10px;

  list-style-type: none;

  border: 2px solid grey;
}

.additionalInfo {
  width: calc(100% - 100px);
  margin: 20px auto;

  font-size: 1.2rem;
  text-align: right;
  color: grey;
}

.additionalInfo b {
  font-size: 1.6rem;
  color: orange;
}

.keyboard li {
  position: relative;

  display: inline-block;
  width: 2.7em;
  height: 2.7em;
  margin: 0.1em;

  font-size: 1.6rem;
  line-height: 2.6em;
  vertical-align: middle;
  text-align: center;

  border: 2px solid grey;
  border-radius: 25%;
  cursor: pointer;

  transition: border-width, border-color, background-color, 0.5s linear;
}

.keyboard li:hover {
  border-width: 4px;
  border-color: orange;
}

.keyboard li.pressed {
  border-width: 4px;

  animation: press 0.5s ease forwards;
}

@keyframes press {
  50% {
    border-width: 2px;
    border-color: green;
  }

  100% {
    border-width: 4px;
    border-color: yellow;
  }
}

.keyboard li span {
  display: inline-block;
}

.keyboard li span.leftTopCornerSymbol {
  position: absolute;
  top: -1em;
  left: 4px;
}

.keyboard li.shift {
  width: 5.7em;

  border-radius: 0.5em;
}

.keyboard li.control {
  width: 5.7em;

  border-radius: 0.5em;
}

.keyboard li.tab {
  width: 2.7em;

  border-radius: 0.5em;
}

.keyboard li.capslock {
  width: 5.7em;

  border-radius: 0.5em;
}

.keyboard li.backspace {
  width: 6em;

  border-radius: 0.5em;
}

.keyboard li.on {
  background-color: rgb(0, 255, 221);
}

.keyboard li.del {
  width: 3em;

  border-radius: 25%;
}

.keyboard li.enter {
  width: 5.7em;

  border-radius: 0.5em;
}

.keyboard li.arrow {
  width: 2.7em;

  font-weight: bold;

  border-radius: 0.5em;
}

.keyboard li.alt {
  width: 2.7em;

  border-radius: 25%;
}

.keyboard li.lang {
  background-color: orange;
}

.keyboard li.space {
  width: 14.3em;

  border-radius: 0.5em;
}
